{% extends 'base.html' %}
{% load static %}
{% block title %}
Checkout
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'store/css/checkout.css' %}">
{% endblock css_files %}

{% block content %}
<section id="checkout">
    <div class="address">
        <div class="address-head">
            <h2>Shipping Address</h2>
        </div>
        <div class="address-main">
            <p>{{order.customer.get_complete_address}}</p>
            <a href="{% url 'placeorder' order.id %}">Place Order</a>
        </div>
    </div>
    <div class="order-details">
        <div class="order-head">
            <h2>Your Orders</h2>
            <h4>{{order.get_items_total}} Items, &#8377; {{order.get_cart_total|floatformat:2}}</h4>
        </div>
        <div class="order-main">
        {% for item in items %}
            <div class="details-order">
                <div>{{item.quantity}} x {{item.product}}</div>
                <div>&#8377; {{item.get_total}}</div>
            </div>
        {% endfor %}    
            <div class="cart-total">
                <h4>Total</h4>
                <h4>&#8377; {{order.get_cart_total|floatformat:2}}</h4>
            </div>
        </div>
    </div>
    
</section>
{% endblock content %}