{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'store/css/index.css' %}">
{% endblock css_files %}

{% block title %}
Home
{% endblock title %}

{% block content %}

<div class="filter-option">
        Filter by: 
        <a href="{% url 'filter' "name" %}">Name</a>
        <a href="{% url 'filter' "price" %}">Price</a>
</div>
<section id="product-list">    
    {% for item in product %}
        {% include 'store/includes/product.html' %}        
    {% endfor %}
</section>
{% endblock content %}